<div class="middle">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <b>About</b>
            </mat-card-title>
            <mat-card-subtitle>
                A bit about myself
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <h3><b>Greetings!</b></h3>
                <p>My name is Maring Shin, a.k.a MysticalWizard, and I am a programmer and a video gamer from Seoul, South Korea. I do programming and gaming as a hobby.</p>
                <button mat-button routerlink="/" tabindex="0" class="card-btn">
                    <span>My Social Accounts</span>
                    <div matripple></div>
                    <div></div>
                </button>
                <button mat-button routerlink="/" tabindex="0" class="card-btn">
                    <span>Check out my projects!</span>
                    <div matripple></div>
                    <div></div>
                </button>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" routerlink="/" tabindex="0">
                <span>Back Home</span>
                <div matripple></div>
                <div></div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>