<div class="middle">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <b>Social</b>
            </mat-card-title>
            <mat-card-subtitle>
                List of my social accounts
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-nav-list>
                <div>
                    <h3>Social / Community</h3>
                    <a mat-list-item href="http://" target="_blank" rel="noopener" class="mat-2-line mat-list-item-avatar mat-list-item-with-avatar"></a>
                </div>
                <div>
                    <h3>Games</h3>
                </div>
                <div>
                    <h3>Programming</h3>
                </div>
                <div>
                    <h3>Other</h3>
                    <a mat-list-item href="http://" target="_blank" rel="noopener" class="mat-2-line mat-list-item-avatar mat-list-item-with-avatar"></a>
                </div>
            </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" routerlink="/" tabindex="0">
                <span>Back Home</span>
                <div matripple></div>
                <div></div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>