<div class="middle">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <b>About me</b>
            </mat-card-title>
            <mat-card-subtitle>
                A bit about myself
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <h3><b>Greetings,</b></h3>
                <p>
                    Hello there! I'm Maring Shin, aka MysticalWizard and this is a personal website I made using Angular. I love programming and I am currently learning C# and Java.
                </p>
                <p>If you would like to check my social accounts or browse through my projects, you can do so by clicking on the button below.</p>
                <button mat-button routerLink="/social">
                    <span>My social accounts</span>
                    <div matripple></div>
                    <div></div>
                </button>
                <button mat-button routerLink="/projects">
                    <span>Check out my projects!</span>
                    <div matripple></div>
                    <div></div>
                </button>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" routerLink="/">
                <span>Back Home</span>
                <div matripple></div>
                <div></div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>