<div class="mini-info" id='fadein'>
    <span>Website Under Development</span>
</div>
<div class="middle" id='fadein'>
    <h1 tdmediatoggle="gt-sm" class="title" style="font-size: 96px;">MysticalWizard</h1>
    <p class="subtitle">Programmer & Game Developer</p>
    <ul tdmediatoggle="gt-sm" class="links" style="font-size: 25px;">
        <li>
            <a href="https://osu.ppy.sh/users/19430051/osu/" target="_blank" rel="noopener">osu!</a>
        </li>
        <li>
            <a href="https://steamcommunity.com/id/mysticalwiz/" target="_blank" rel="noopener">Steam</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCGeXuxX5zk3T9KAhdpqRUfA/" target="_blank" rel="noopener">YouTube</a>
        </li>
        <li>
            <a href="https://www.instagram.com/maring_shin/" target="_blank" rel="noopener">Instagram</a>
        </li>
        <li>
            <a href="https://github.com/mysticalwizard/" target="_blank" rel="noopener">GitHub</a>
        </li>
    </ul>
</div>

