<td-layout>
    <td-layout-nav color="white" class="layout background">
        <div td-toolbar-content layout="row" layout-align="end center" flex class="toolbar">
            <span class="title"><b>Mystical</b>Wizard</span>
            <span flex></span>
            <button mat-button routerlink="/">
                <span>Home</span>
                <span matripple></span>
                <span></span>
            </button>
            <button mat-button routerlink="/about">
                <span>About</span>
                <span matripple></span>
                <span></span>
            </button>
            <button mat-button routerlink="/social">
                <span>Social</span>
                <span matripple></span>
                <span></span>
            </button>
            <button mat-button routerlink="/projects">
                <span>Projects</span>
                <span matripple></span>
                <span></span>
            </button>
        </div>
        <div>
            <div class="effects">
                <div class="particle"></div>
            </div>
            <router-outlet></router-outlet>
            <mysticalwizard-home></mysticalwizard-home>
        </div>
    </td-layout-nav>
</td-layout>
