<div class="middle">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <b>Projects</b>
            </mat-card-title>
            <mat-card-subtitle>
                What I'm working on
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <mat-nav-list>
                    <div>
                        <h3 mat-subheader>Web Development</h3>
                        <a mat-list-item href="https://github.com/MysticalWizard/MysticalWizard.github.io/" target="_blank" rel="noopener" class="mat-2-line mat-list-item-avatar mat-list-item-with-avatar">
                            <mat-icon matListIcon>home</mat-icon>
                            <h3 matLine>mysticalwizard.github.io</h3>
                            <p matLine>A Personal Website</p>
                        </a>
                    </div>
                </mat-nav-list>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" routerlink="/" tabindex="0">
                <span>Back Home</span>
                <div matripple></div>
                <div></div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>